<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - COMP2139 GBC Project Management – Zuheb Mohamud <a asp-area="" asp-controller="Home" asp-action="About">Zuheb Mohamud</a>
    </div>
</footer>